{% extends "base.html.twig" %}

{% block title %}Changer un flocon
{% endblock %}

{% block body %}
	<div class="container my-5">
		<div class="row">
			<div class="col">
				<h4>Editer un snowflake</h4>
			</div>
		</div>
		<section>
			{{ include ('common/_form.html.twig', {submitButtonText : 'Edit a snowflake'}) }}
		</section>
	</div>
{% endblock %}
