<footer class="fixed-bottom text-center">
    <p class='p-0'>&copy;Copyright Swann Martin 2021 @ La Philomathique Bordeaux  </p>
    {% if number is defined %}
    <p>Voici un numéro aléatoire affiché : {{number}} </p>
    {% endif %}
    
</footer>